// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/@coreui/coreui/scss/coreui";

@import 'node_modules/@coreui/icons/scss/coreui-icons';
@import 'node_modules/flag-icon-css/css/flag-icon.min';
@import 'node_modules/font-awesome/css/font-awesome.min';
@import 'node_modules/simple-line-icons/css/simple-line-icons';





